[submodule "tools/adr-tools"]
	path = tools/adr-tools
	url = https://github.com/npryce/adr-tools
[submodule ".tmux"]
	path = .tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule ".asdf"]
	path = .asdf
	url = git@github.com:asdf-vm/asdf.git
