[user]
	email = vpellegrino@seatgeek.com
	name = Vitor Pellegrino
[pull]
	ff = only
[core]
	excludesFile = ~/.gitignore
[include]
	path = ~/.config/git/gitconfig-secrets
[git]
	excludesfile = /Users/vitor/.gitignore
[commit]
	template = /Users/vitor/.gitmessage
