[user]
	email = pellegrino@linux.com
	name = Vitor Pellegrino
[pull]
	ff = only
[core]
	excludesFile = ~/.gitignore
[include]
	path = ~/.config/git/gitconfig-secrets
[init]
	defaultBranch = main
[commit]
	template = /Users/vitor/.gitmessage
