[user]
	email = vitor@pellegrino.io
	name = Vitor Pellegrino
[pull]
	ff = only
[core]
	excludesFile = ~/.gitignore
[include]
	path = ~/.config/git/gitconfig-secrets
[git]
	excludesfile = /Users/vitor/.gitignore
[init]
	defaultBranch = main
